<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatRoom</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<script>
    $(document).ready(function () {
        var socket = io();
        var name = prompt("Please enter your name");

        socket.emit('got_new_user', {
            name: name
        })
        socket.on('new_user', function (data) {
            $('.user_name').html(`My name ${data.name}`)
        })
        socket.on('existing_user', function (data) {
            for (var i of data) {
                $('.users').append(`${i.name}`)
                // $('.users').css('color', 'red', 'height', '150px', 'width', '200px',
                //     'border', '1px solid black')
            }
        })

    })
</script>

<body>
    <div class="container">
        <div class="user_name"></div>
        <div class="users "></div>
    </div>

</body>


</html>