<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="card container my-auto">
        <div class=" card-body bg-info p-5 rounded form-group">
            <form action="/result" method="post">
                <label class="form-text h2">Name :</label>
                <input type="text" class=" w-25 p-3 form-control" name="name" aria-describedby="emailHelp">

                <label class="form-text h2">Location:</label>
                <select class="form-control mb-4 form-control-lg" name="location">
                    <option value="Oakland">Oakland</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                </select>

                <label class="form-text h2">Lanugage:</label>
                <select class="form-control form-control-lg mb-4" name="language">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="Javascript">Javascript</option>
                </select>


                <label for="comment" class=" h2 form-text secondary mb-4">Comments</label>
                <input type="text" name="comment" class="w-25 p-3 mb-4 form-control">

                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
    </div>
</body>

</html>