<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatRoom</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<script>
    $(document).ready(function () {
        var socket = io();
        var name = prompt("Please enter your name");
        if (!name) {
            alert("please enter an name first");

        } else {
            socket.emit("new_user", {
                name: name
            });
        }
        var elem = document.getElementById('chatbox');

        $("#btn").click(function () {
            socket.emit("new_message", {
                name: name,
                message: $('#msg').val()
            });
            $('#msg').val("");
        });
        socket.on('existing_messages', function (data) {
            for (i in data)
                $("#chatbox").append("<p>" + data[i].name + ": " + data[i].message + "</p>");
            elem.scrollTop = elem.scrollHeight;
        });
        socket.on('update_messages', function (data) {
            $("#chatbox").append("<p>" + data.name + ": " + data.message + "</p>");
            elem.scrollTop = elem.scrollHeight;
        });
        socket.on('user_disconnect', function (data) {
            $("#chatbox").append("<p style='color:red'>" + data.name + " has left the chat" + "</p>");
            elem.scrollTop = elem.scrollHeight;
        });
        socket.on('display_new_user', function (data) {
            $("#chatbox").append("<p style='color:green'>" + data.name + " has joined the chat" +
                "</p>");
            elem.scrollTop = elem.scrollHeight;
        });

    })
</script>

<body>
    <div id="container">
        <h1 id="title"><u>Conversation Board</u></h1>
        <div id="chatbox"></div>
        <input id="msg" type="text">
        <button id="btn">Send</button>
    </div>


</body>


</html>