<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars and Cats</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <h2 class="card">Here is the Information of cat:</h2>
        <hr>
        <ul class="list-group">
            <% for (var c of cat) { %>
            <div>
                <a href="/cats">
                    <img class="m-4 list-group-item align-center " src="/images/cats/<%=c.img %>" alt=""></a>
            </div>
            <h3 class="list-group-item py-4 display-3 bg-info md-4">Name: <%= c.name %></h3>
            <h4 class="list-group-item bg-info md-4">Age: <%= c.age%></h4>
            <h4 class="list-group-item bg-info md-4">Sleeping Spot :<%=c.sleeping_spot %></h4>
            <% } %>
        </ul>
    </div>



</body>

</html>