img {
    vertical-align: middle;
    border-style: none;
    height: 222px;
    width: 296px;
    margin-right: 10px;
    margin-top: 30px;
}

.container {
    margin-top: 40px;
}

.form {
    margin-top: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 6em;
}