<div class="container col-7">
  <button class="btn btn-primary mb-3 text-light" [routerLink]="['/']">HOME</button>

  <div class="jumbotron jumbotron-fluid p-5">
    <h1 class="display-4 text-center text-info">Update Author</h1>
    <form (submit)="editAuthor(edited._id)">
      <div *ngIf="errors.name" class="text-danger display-6">{{errors.name.message}}</div>
      <p class="lead text-info">Name: <input class="form-control form-control-lg" type="text" value="{{ edited.name }}"
          name="name" [(ngModel)]="edited.name"></p>
      <input id="submit" class="btn btn-success mr-2" type="submit" value="SUBMIT" />
      <button class="btn btn-danger" [routerLink]="['/']">CANCEL</button>
    </form>
  </div>
</div>
