<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Mongose</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <form action='/users' method='post'>
            Name: <input type='text' name='name'>
            <br>
            <br> Age: <input type='number' name='age'>
            <button>Add User</button>
            <hr>
        </form>
        <div class="info">
            <h2>Here are all the users:</h2>
            <% for (var user of users) { %>
            <h5>Name: <%= user.name %></h5>
            <p>age: <%= user.age %></p>
            <hr>
            <% } %>
        </div>

    </div>
</body>

</html>