<div class="container text-left mb-30">
  <img src="https://as1.ftcdn.net/jpg/00/32/76/46/500_F_32764642_jDpqkqrHA7HNW5Hz584RYZAAt5RB9JCi.jpg" alt="">


  <li *ngIf='weather' class="font-weight-bolder">
    <h1 class="text-center">{{weather.name}} </h1>
    <p>humidity:{{weather.main.humidity}} </p>
    <p>Temperatur(Average) : {{weather.main.temp}} F</p>
    <p>Temperatur(High) : {{weather.main.temp_max}} F</p>
    <p>Temperatur(Low) : {{weather.main.temp_min}} F</p>
    <p>Status:{{weather.weather[0].description}}</p>

  </li>

</div>
